body {
    font-family: Arial, sans-serif;
    background-color: #D8F3DC; /* Updated background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    flex: 1;
    padding: 20px;
}

.login-container {
    background-color: white;
    color: #081C15; 
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;

    color: #081C15; 
    border: 1px solid #52B788; /* Match border color */
    background-color: #F9F9F9; /* Match background color */
}

input:focus {
    outline: none;
    border-color: #40916C; /* Match focus border color */
    background-color: #FFFFFF; /* Match focus background color */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #52B788; /* Updated button color before hover */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #40916C; /* Updated button color after hover */
}

a {
    text-decoration: none;
    color: #007BFF;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}